<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869104680037-041924of5aiql4n85memtfofmukc6umn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869104680037-041924of5aiql4n85memtfofmukc6umn</string>
	<key>API_KEY</key>
	<string>AIzaSyAgCkqrHdgufb5KfnIA6T0nMkH-5CmBF8g</string>
	<key>GCM_SENDER_ID</key>
	<string>869104680037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>murat.com.InsightGauge</string>
	<key>PROJECT_ID</key>
	<string>insightgauge</string>
	<key>STORAGE_BUCKET</key>
	<string>insightgauge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869104680037:ios:9dcba9ea1937807753da8c</string>
</dict>
</plist>